.container {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
}

.title {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.title h3 {
    color: #000000;
    font-size: var(--font-size-title-md);
}

.pokemon-select {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.pokemons {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card {
    width: 15%;
    height: 100%;
}


.pokemon-battle-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-battle-card {
    width: 35%;
    height: 400px;
}